@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5 text-primary">
            <i class="fa-solid fa-shield-halved me-2"></i> Privacy Policy
        </h1>
    </div>

    <div class="card shadow-sm">
        <div class="card-body fs-5">
            <p>
                This site does not collect, store, or share any personal information
            </p>
            <p>
                Its sole purpose is to allow the user to download a <code>.txt</code> file
            </p>
            <p>
                No cookies, analytics, or tracking systems are used
            </p>
            <p class="text-muted mt-4">
                If you have any questions, feel free to contact the developer via the <a href="https://github.com/KalilMassignaniDaRosa/Programming-25" target="_blank">GitHub repository</a>
            </p>
        </div>
    </div>
</div>
