@model List<PooModel.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<div class="text-center mb-4">
    <h1 class="display-5"><i class="fa-solid fa-users me-2 text-primary"></i> Customer List</h1>
</div>
<hr>

<div class="mb-3">
    <a asp-action="Create" asp-controller="Customer" class="btn btn-success">
        <i class="fa-solid fa-user-plus me-1"></i> New Customer
    </a>
</div>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive shadow-sm rounded">
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-primary">
                <tr>
                    <th title="Id" style="width:10%;">Id</th>
                    <th title="Name">Name</th>
                    <th title="Action" style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td class="text-start">@customer.Name</td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.Id"
                               title="Delete Customer @customer.Name" class="btn btn-sm btn-outline-danger p-2">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <div class="alert alert-warning text-center">
        <i class="fa-solid fa-triangle-exclamation me-2"></i> There are no customer records.
    </div>
}

<div class="mb-4 mt-3">
    <a asp-action="ExportDelimitatedCustomer" asp-controller="Customer" class="btn btn-primary me-2">
        <i class="fa-solid fa-file-export me-1"></i> Export Delimitated
    </a>
    <a asp-action="ExportFixedCustomer" asp-controller="Customer" class="btn btn-primary">
        <i class="fa-solid fa-file-export me-1"></i> Export Fixed
    </a>
</div>
